@model IEnumerable<PRJ666_G7_Project.Models.EmployeeBaseViewModel>

@{
    ViewBag.Title = "My Organization";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Details", "Index", "Employees")
            @if (ViewBag.UserAuthLevel > 1)
            {
                <span>| @Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
            }
        </td>
    </tr>
}

</table>
