@model PRJ666_G7_Project.Models.ShiftWithDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.ShiftStart)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.ShiftStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.ShiftEnd)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.ShiftEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Employees)
        </dt>

        <dd>
            @foreach (var emp in Model.Employees)
            {
                <p>@emp</p>
            }
        </dd>


        <dt>
            @Html.DisplayNameFor(Model => Model.Tasks)
        </dt>

        <dd>
            @foreach (var task in Model.Tasks)
            {
                <p>@task.Name</p>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
