@model PRJ666_G7_Project.Models.ShiftEditFormViewModel

@{
    ViewBag.Title = "Edit details of shift #" + Model.Id;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @if (!Model.UserType.isEmployee)
    {
        <dl class="dl-horizontal">
            <dt> Current shift start time </dt>
            <dd> @Html.DisplayFor(model => model.ShiftStart) </dd>
        </dl>

        <div class="form-group">
            @Html.LabelFor(model => model.ShiftStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShiftStart, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.ShiftStart, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <dl class="dl-horizontal">
            <dt> Current shift end time </dt>
            <dd> @Html.DisplayFor(model => model.ShiftEnd) </dd>
        </dl>

        <div class="form-group">
            @Html.LabelFor(model => model.ShiftEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShiftEnd, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.ShiftEnd, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    @if (Model.UserType.isEmployee)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.ClockInTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClockInTime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.ClockInTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClockOutTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClockOutTime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.ClockOutTime, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="col-md-offset-1 col-md-4 well">
        @if (Model.UserType.isEmployee)
        {
            <h4>@Html.DisplayNameFor(model => model.TaskList)</h4>
        }
        else
        {
            <h4>Select tasks to remove</h4>
        }

        @foreach (var t in Model.TaskList)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="TaskIds" value="@t.Value" />@t.Text</label>
            </div>
        }
        @Html.ValidationMessageFor(model => model.TaskList, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
