@model IEnumerable<PRJ666_G7_Project.Models.EmployeeScheduleViewModel>

@{
    ViewBag.Title = "All Shifts";
    var monday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday);
    var tuesday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Tuesday);
    var wednesday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Wednesday);
    var thursday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Thursday);
    var friday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Friday);
    var saturday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Saturday);
    var sunday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Sunday);

}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="overrideBS" class="table text-center table-bordered table-striped" >
    <tr >   
        <th class="text-center">
            Employee name
        </th>
        <th class="text-center">
            @sunday.ToString("dddd") @sunday.ToString("dd")
        </th>
        <th class="text-center">
            @monday.ToString("dddd") @monday.ToString("dd")
        </th>
        <th class="text-center">
            @tuesday.ToString("dddd") @tuesday.ToString("dd")
        </th>
        <th class="text-center">
            @wednesday.ToString("dddd") @wednesday.ToString("dd")
        </th>
        <th class="text-center">
            @thursday.ToString("dddd") @thursday.ToString("dd")
        </th>
        <th class="text-center">
            @friday.ToString("dddd") @friday.ToString("dd")
        </th>
        <th class="text-center">
            @saturday.ToString("dddd") @saturday.ToString("dd")
        </th>
        
    </tr>

@foreach (var item in Model) {
<tr>
    

    <td>
        @item.FullName
    </td>


    @foreach (var shifts in item.ShiftsWeekly)
        {
            <td>
                @*<span>@Html.ActionLink("+", "Edit", new { id = item.Id }) </span> <br />*@
                <button type="button" class="btn addshiftbtn" data-toggle="modal" data-target="#AddShiftModal" data-id="@item.UserName" data-shiftday="@shifts.ShiftsDate" name="">+</button>
                
                @foreach (var shift in shifts.ShiftsDaily)
                    {
                            <a hreff="#" class="edditShiftbtn" data-toggle="modal" data-target="#AddShiftModal" data-shiftday="@shifts.ShiftsDate" data-shiftStartDateTime="@shift.ShiftStart" data-shiftEndDateTime="@shift.ShiftEnd" data-shiftId="@shift.Id">
                            @shift.ShiftStart.ToString("H:mm")
                            <text> - </text>
                            @shift.ShiftEnd.ToString("H:mm tt")
                            </a>
                    <br >
                    }
            </td>
        }


</tr>

}

</table>

<form method="post" action="/Shifts/create" id="shiftEditForm">
    <div id="AddShiftModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><span id="addpopupheader1">Shift for the date </span><span id="addpopupheader2"></span> </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend" id="button-addon3">
                            <button class="btn btn-outline-secondary prefillShiftBtn" type="button" data-from="08" data-to="16">8am - 4pm</button>
                            <button class="btn btn-outline-secondary prefillShiftBtn" type="button" data-from="09" data-to="17">9am - 5pm</button>
                            <button class="btn btn-outline-secondary prefillShiftBtn" type="button" data-from="10" data-to="18">10am - 6pm</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <input type='datetime-local' class="form-control" id='ShiftStartNewDraft' name='ShiftStartNewDraft' />

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date'>
                                <input type='datetime-local' class="form-control" id='ShiftEndNewDraft' name='ShiftEndNewDraft' />

                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="EmployeeUserNames" id="EmployeeUserNames" value="something" />
                    <input type="hidden" name="ShiftStart" id="ShiftStart" value="something" />
                    <input type="hidden" name="ShiftEnd" id="ShiftEnd" value="something" />
                    <input type="hidden" name="Id" id="Id" value="" />
                    @*<input type="hidden" name="TaskIds" value="1" />*@
                    @Html.AntiForgeryToken();

                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary deleteshiftbtn" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        //console.log("here");
        var my_id_value = 0;
        var my_shiftday;
        var my_shiftid;
        var my_shiftdayInDate;
        var my_shiftdayInDateFormatted;
        var my_shiftStartDateTime;
        var my_shiftEndDateTime;
        var my_shiftId;
        //$('#ShiftStartNew').datetimepicker();
        $(".addshiftbtn").click(function () {
            //console.log("here2");

            //add mode
            $('#shiftEditForm').attr("action", "/Shifts/create");

            my_id_value = $(this).data('id');
            my_shiftday = $(this).data('shiftday');
            my_shiftid = $(this).data('shiftid');
           // console.log(my_id_value);
            //console.log(my_shiftday);
            //console.log(my_shiftid);


            try {
                my_shiftdayInDate = new Date(my_shiftday);
                my_shiftdayInDateFormatted = formatDate(my_shiftdayInDate);//my_shiftdayInDate.getFullYear() + "-" + (my_shiftdayInDate.getMonth() + 1) + "-"+my_shiftdayInDate.getDate();
                //console.log(my_shiftdayInDate.toString("YYYY-MM-DD"));
                //console.log(my_shiftdayInDateFormatted);
            }
            catch (e) {

            }

            $('#EmployeeUserNames').val(my_id_value);

            
            
            $('#addpopupheader1').html = "Add New Shift for the date ";
            $('#addpopupheader2').html = my_shiftday;
            $('#ShiftStartNewDraft').attr("type", "time");
            $('#ShiftEndNewDraft').attr("type", "time");

            

            //$('#ShiftStartNew').val("1997-12-19T16:39:57");
            //$('#ShiftEndNew').attr("type", "time");
        });


        $("#ShiftStartNewDraft").change(function () {
            console.log($(this).val());
            let startdate = my_shiftId ? $(this).val() : my_shiftdayInDateFormatted + "T" + $(this).val() ;
            $('#ShiftStart').val(startdate);
        });


        $("#ShiftEndNewDraft").change(function () {
            console.log($(this).val());
            let enddate = my_shiftId ? $(this).val() : my_shiftdayInDateFormatted + "T" + $(this).val();
            $('#ShiftEnd').val(enddate);
        });

   
        $(".edditShiftbtn").click(function () {
            // edit mode

            $('#shiftEditForm').attr("action", "/Shifts/edit");

            my_shiftStartDateTime = new Date($(this).attr("data-shiftStartDateTime"));
            my_shiftEndDateTime = new Date($(this).attr("data-shiftEndDateTime"));
            my_shiftId = $(this).attr("data-shiftId");
            my_shiftday = $(this).attr("data-shiftday");
            //console.log(my_shiftStartDateTime);
            //console.log(my_shiftEndDateTime);
            //console.log(my_shiftId);

            try {
                my_shiftdayInDate = new Date(my_shiftday);
                my_shiftdayInDateFormatted = formatDate(my_shiftdayInDate);//my_shiftdayInDate.getFullYear() + "-" + (my_shiftdayInDate.getMonth() + 1) + "-"+my_shiftdayInDate.getDate();
                //console.log(my_shiftdayInDate.toString("YYYY-MM-DD"));
                //console.log(my_shiftdayInDateFormatted);
            }
            catch (e) {

            }
           
            $('#addpopupheader1').html = "Edit Shift for the date ";
            $('#addpopupheader2').html = my_shiftday;
            $('#ShiftStartNewDraft').attr("type", "datetime-local");
            $('#ShiftEndNewDraft').attr("type", "datetime-local");
            $('#ShiftEndNewDraft').attr("type", "datetime-local");

            $('#ShiftStartNewDraft').val(formatDateTime(my_shiftStartDateTime));
            $('#ShiftEndNewDraft').val(formatDateTime(my_shiftEndDateTime));

            $('#ShiftStart').val(formatDateTime(my_shiftStartDateTime));
            $('#ShiftEnd').val(formatDateTime(my_shiftEndDateTime));

            //$('#ShiftStartNewDraft').val("2023-04-02T17:20:00");
            //2023-4-2T17:20 action="/Shifts/create"

            

            $('#Id').val(my_shiftId);

        });

        $(".deleteshiftbtn").click(function () {
            //delete
            $('#shiftEditForm').attr("action", "/Shifts/delete");
            //my_shiftId = $(this).attr("data-shiftId");
            //$('#Id').val(my_shiftId);
            $('#shiftEditForm').submit();
        });

        function formatDate(dt) {
            let month = "0" + (dt.getMonth() + 1);
            let day = "0" + dt.getDate().toString();
            return dt.getFullYear() + "-" + month.substr(month.length - 2) + "-" + day.substr(day.length - 2);
        };

        function formatDateTime(dt) {
            let month = "0" + (dt.getMonth() + 1);
            let day = "0" + dt.getDate().toString();
            let hour = "0" + dt.getHours().toString();
            let minute = "0" + dt.getMinutes().toString();
            let fdate = dt.getFullYear() + "-" + month.substr(month.length - 2) + "-" + day.substr(day.length - 2) + "T" + hour.substr(hour.length - 2) + ":" + minute.substr(minute.length - 2)
            //console.log("fdate",fdate);
            return fdate;
        };

        $(".prefillShiftBtn").click(function () {
            let from = $(this).data('from');
            let to = $(this).data('to');
            console.log(from);
            console.log(to);

            if (my_shiftId) {
                //edit
                let newStart = my_shiftdayInDateFormatted + "T" + from + ":00";
                let newEnd = my_shiftdayInDateFormatted + "T" + to + ":00";
                $('#ShiftStartNewDraft').val(newStart);
                $('#ShiftEndNewDraft').val(newEnd);
            } else {
                //add               
                $('#ShiftStartNewDraft').val(from + ":00");
                $('#ShiftEndNewDraft').val(to + ":00");
      
            }
            $("#ShiftStartNewDraft").trigger("change");
            $('#ShiftEndNewDraft').trigger("change");
        });
    });
</script>
