@model IEnumerable<PRJ666_G7_Project.Models.ShiftBaseViewModel>

@{
    ViewBag.Title = "All Shifts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShiftStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftEnd)
        </td>
        <td>
            @if (item.Employees.Count() == 0)
            {
                <p>No employees set!</p>
            } 
            else
            {
                <ul>
                    @foreach (var emp in item.Employees)
                    {
                        <li>@emp.FullName</li>
                    }
                </ul>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
