<!DOCTYPE html>
<html>
<head>
    <!-- Do not modify the meta properties below -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="PRJ666_G7_Project" />
    <meta name="application-name" content="2227-70e7829b-d30d-42f3-9587-e1b2964b69d6" />

    <title>@ViewBag.Title - PRJ666_G7-Project</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    @{
        var userAccount = new PRJ666_G7_Project.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
        var UserAuthLevel = 0;
    }
</head>
<body>
    <div name= "MainHeader" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WSMT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navigationText">

                    <li>@Html.ActionLink("My Schedule", "Schedule", "Employees", new { username = User.Identity.Name }, null)</li>
                    @if (!User.IsInRole("Employee"))
                    {
                        <li>@Html.ActionLink("Manage Schedule", "Index", "Shifts")</li>
                    }
                    @if (!User.IsInRole("Employee"))
                    {
                        <li>@Html.ActionLink("Manage Tasks", "Index", "Tasks")</li>
                    }
                    <li>@Html.ActionLink("My Organization", "Index", "Employees")</li>
                    <li>@Html.ActionLink("Notifications", "Index", "Notifications", new { username = User.Identity.Name }, null)</li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Group 7, PRJ666</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
